name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 2

      - name: Set up Python
        uses: actions/setup-python@v2.3.1
        with:
          python-version: "3.8"

      - name: Upgrade pip
        run: |
          pip install --constraint=.github/workflows/constraints.txt pip
          pip --version

      - name: Install tools using pip
        run: |
          pip install --constraint=.github/workflows/constraints.txt pip nox nox-poetry poetry
          poetry --version

      - name: Check if there is a parent commit
        id: check-parent-commit
        run: |
          echo "::set-output name=sha::$(git rev-parse --verify --quiet HEAD^)"

      - name: Detect and tag new version
        id: check-version
        if: steps.check-parent-commit.outputs.sha
        uses: salsify/action-detect-and-tag-new-version@v2.0.1
        with:
          version-command: |
            bash -o pipefail -c "poetry version -s"

      - name: Bump version for developmental release
        if: "! steps.check-version.outputs.tag"
        run: |
          poetry version patch &&
          version=$(poetry version -s) &&
          poetry version $version.dev.$(date +%s)

      - name: Build package
        run: |
          poetry build --ansi

      - name: Publish package on PyPI
        if: steps.check-version.outputs.tag
        uses: pypa/gh-action-pypi-publish@v1.4.2
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}

      - name: Publish package on TestPyPI
        if: "! steps.check-version.outputs.tag"
        uses: pypa/gh-action-pypi-publish@v1.4.2
        with:
          user: __token__
          password: ${{ secrets.TEST_PYPI_TOKEN }}
          repository_url: https://test.pypi.org/legacy/

      - name: Fetch gh-pages for documentation
        uses: actions/checkout@v2.4.0
        with:
          ref: gh-pages
          fetch-depth: 1

      - run: |
          git config user.name ci-mkdocs-bot
          git config user.email ci-mkdocs-bot@example.com

      - name: Publish documentation for latest
        if: "! steps.check-version.outputs.tag"
        run: |
          nox -s build-docs -- deploy -p --u vmaster latest -t "master (latest)"

      - name: Publish documentation for stable
        if: steps.check-version.outputs.tag
        run: |
          version=v$(poetry version -s) &&
          nox -s build-docs -- mike deploy -p --u $version stable -t "$version (stable)"

      - name: Publish the release notes
        uses: release-drafter/release-drafter@v5.15.0
        with:
          publish: ${{ steps.check-version.outputs.tag != '' }}
          tag: ${{ steps.check-version.outputs.tag }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
